@import "tailwindcss";
@plugin "daisyui" {
  themes: fitlog --default;
}

@plugin "daisyui/theme" {
  name: "fitlog";
  default: true;
  color-scheme: dark;

  --color-base-100: #0a0a0a;
  --color-base-200: #14171f;
  --color-base-300: #23262f;
  --color-base-content: #ededed;

  --color-primary: #6d4aff;
  --color-primary-content: #ffffff;

  --color-muted: #9ca3af;
  --color-error: #ef4444;
  --color-accent: #ccff00;
  --color-accent-content: #0a0a0a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}